Fast-Neural-Style-Transfer/train/train2014_5000
Fast-Neural-Style-Transfer/train/train2014
/Fast-Neural-Style-Transfer/models/*
!/Fast-Neural-Style-Transfer/models/.keep
.vscode
.ipynb_checkpoints
__pycache__
.~*
events.out*
/Fast-Neural-Style-Transfer/uploads
/Fast-Neural-Style-Transfer/static/img/*
Fast-Neural-Style-Transfer/temp.py
Fast-Neural-Style-Transfer/static/bigjpg.com/*
Fast-Neural-Style-Transfer/train/train2014_*
Fast-Neural-Style-Transfer/train/imagenet-vgg-verydeep-19.mat
Fast-Neural-Style-Transfer/static/bigjpg.com.zip
Fast-Neural-Style-Transfer/Untitled.ipynb
Fast-Neural-Style-Transfer/audio.js
Fast-Neural-Style-Transfer/content/*_style_*.png
Fast-Neural-Style-Transfer/content/*_style_*.jpg
Fast-Neural-Style-Transfer/content/*_style_*.jpeg
Fast-Neural-Style-Transfer/content/tmp/*
